.root {
	@apply relative w-16 h-16 m-2 flex flex-col items-center justify-center;
}

.button {
	@apply absolute z-10 outline-none border-none text-white rounded-lg p-0 w-full text-xs h-4 -bottom-2;
}

.svg {
	width: 16px;
	height: 16px;
}

.buttonsOnHover:hover .button {
	@apply visible;
}
