.modal {
	width: auto;
}

.root {
	display: grid;
	grid-template-columns: 1fr 200px;
	min-height: 400px;
	max-height: 100%;
	width: 1100px;
	max-width: 90vw;
}

.currentEntries {
	display: flex;
	flex-direction: column;
	height: 400px;
	overflow-y: auto;
}

.currentEntries > * {
	margin: 8px;
}

.currentEntries .fade {
	opacity: 0.25;
}

.noEntries {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.details {
	@apply text-white rounded-br-xl rounded-tr-xl px-4 py-8 -mt-3 -mb-4 -mr-4;
	background-color: rgba(0, 0, 0, 0.5);
}
