.focused {
	position: relative;
}

.focused::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: var(--focused-width);
	height: var(--focused-height);
	z-index: 9;
	background-color: rgba(255, 165, 0, 0.65);
	pointer-events: none;
}
