@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply w-full h-full bg-gray-700 text-white;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.ReactModalPortal {
	@apply relative z-10;
}

.modalOverlay {
	@apply grid place-items-center;
	@apply fixed top-0 left-0 bottom-0 right-0 z-10 w-screen h-screen overflow-y-auto;
	background-color: rgba(255, 255, 255, 0.75);
}

input {
	@apply text-black !important;
}
