@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full h-full;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.ReactModalPortal {
    @apply relative z-10;
}

.modalOverlay {
    @apply flex flex-row items-center justify-center;
    @apply fixed top-0 left-0 bottom-0 right-0 z-10;
    background-color: rgba(255, 255, 255, 0.75);
}
