.typography a {
	@apply text-blue-300 underline;
}

.typography h1 {
	@apply text-3xl font-bold mb-8;
}

.typography h2 {
	@apply text-2xl font-bold mb-4;
}

.typography h3 {
	@apply text-xl font-bold mb-4;
}

.typography p {
	@apply my-8;
}

.typography p:first-of-type {
	@apply mt-4;
}

.typography ul {
	@apply list-disc space-y-2 my-4 ml-5;
}

.typography code {
	font-family: monospace;
	@apply px-1 py-0.5 bg-gray-500 text-gray-200;
}

.typography figure {
	@apply p-2 my-8;
}

.typography figure img {
	@apply mx-auto my-8;
}

.typography figure figcaption {
	@apply text-center text-sm text-gray-300 mt-4 mb-2;
}

.typography :global(.flow) {
	@apply mx-auto my-8;
}
