.root {
	grid-template-columns: max-content 1fr;
}

/* .root::before {
	--border-size: 0.7rem;

	content: '';
	top: calc(var(--border-size) * -1);
	left: calc(var(--border-size) * -1);
	width: calc(100% + var(--border-size) * 2);
	height: calc(100% + var(--border-size) * 2);
	z-index: -1;
	border-width: var(--border-size);
	@apply absolute border-white rounded-xl;
} */
