.chrome {
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr;

	--item-spacing: 1rem;
}

.chrome .toolbox {
	grid-column: 2;
	grid-row: 1;
}

.chrome .muteButton {
	grid-column: 3;
	grid-row: 1;
	padding: 16px;
}

.chrome .playButtonContainer {
	grid-column: 1;
	grid-row: 1;
	transition: all 0.2s ease-out;

	/*@apply mr-8;*/
}

.chrome .paletteContainer {
	grid-column: 1;
	grid-row: 2;

	pointer-events: all;

	align-self: center;
}

.chrome .bottomTray {
	grid-column: 1 / -1;
	grid-row: 3;
	width: 100%;

	pointer-events: none;
	justify-self: center;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.chrome .playerContainer {
	grid-column: 2 / -1;
	grid-row: 2 / -1;
}

.chrome .player {
	position: relative;

	border: 16px solid var(--color-chrome-shadow);
	border-bottom: 32px solid var(--color-chrome-shadow);

	/*TODO: this is a nasty hard code */
	width: calc(1080px + 32px);
	height: calc(720px + 48px);
}

.chrome .instructions {
	position: absolute;
	z-index: 10;

	left: 16px;
	bottom: -24px;
	width: 100%;

	text-align: center;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

.chrome .undoRedo {
	grid-column: 1;
	grid-row: 3;
	align-self: flex-end;
	justify-self: center;
	padding-bottom: 16px;
}

.pullOut {
	transition: transform 0.2s ease-in, opacity 0.2s ease-in;
	--pull-amount: 75%;
}

.pullOut.pulled {
	opacity: 0.5;
	pointer-events: none;
}

.pullOut.pullUp.pulled {
	transform: translateY(calc(var(--pull-amount) * -1));
}

.pullOut.pullLeft.pulled {
	transform: translateX(calc(var(--pull-amount) * -1));
}

.pullOut.pullUpRight.pulled {
	transform: translateY(calc(var(--pull-amount) * -1))
		translateX(var(--pull-amount));
}

.pullOut.pullDown.pulled {
	transform: translateY(calc(var(--pull-amount) * 1.5));
}
