.root {
    @apply grid items-center justify-center rounded-tr-lg rounded-br-lg shadow-lg border-t-4 border-r-4 border-b-4 border-white;
    grid-template-columns: max-content;
    max-height: 80vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(20px);
}

.root::-webkit-scrollbar {
    width: 8px;
}

.root::-webkit-scrollbar-track {
    background-color: #aaaaaa77;
}

.root::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

.root .firstEntry {
    padding-top: 12px;
}
