.root {
	transform: translateX(var(--translation)) translateY(var(--translation))
		scale(var(--scale));
	@apply relative;
}

.hideTileSpace :global(.TileSpace) {
	display: none !important;
}

.erase {
	cursor: url(./eraseCursor.png) 7 16, auto;
}

.grid {
	@apply absolute top-0 left-0 w-full h-full;

	background-image: linear-gradient(
			to right,
			var(--grid-color) var(--grid-line-width),
			transparent var(--grid-line-width)
		),
		linear-gradient(
			to bottom,
			var(--grid-color) var(--grid-line-width),
			transparent var(--grid-line-width)
		);
	background-size: var(--grid-width) var(--grid-height),
		var(--grid-width) var(--grid-height);

	background-repeat: repeat, repeat, repeat;
}
