.root {
	transform: translateX(var(--translation)) translateY(var(--translation)) scale(var(--scale));
	@apply relative;
}

.root::after {
	content: '';
	@apply absolute top-0 left-0 w-full h-full;
	background-color: rgba(205, 205, 205, 0.75);
	z-index: -1;
}

.grid {
    @apply absolute top-0 left-0 w-full h-full;

 	background-image: linear-gradient(
 			to right,
 			var(--grid-color) var(--grid-line-width),
 			transparent var(--grid-line-width)
 		),
 		linear-gradient(
 			to bottom,
 			var(--grid-color) var(--grid-line-width),
 			transparent var(--grid-line-width)
 		);
 	background-size: var(--grid-width) var(--grid-height),
 		var(--grid-width) var(--grid-height);

 	background-repeat: repeat, repeat, repeat;
}